.body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* 페이지 전체 높이를 100%로 설정 */
}
.main {
     height: 100%; /* main 요소의 높이 설정 */
     overflow: auto; /* 스크롤을 활성화 */
 }

        .background_image {
    background-size: cover;

            width: 1885px;
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   object-fit: cover;
}

.deals_title {
    position: absolute; /* 배경 이미지 위에 위치를 절대적으로 설정 */
  margin-bottom:1000px;
    color: white;
      justify-content: center;
    font-weight:bold;
    font-size:100px;
    font-family:Impact,Charcoal,sans-serif;
}
.deals_content {
    position: absolute; /* 배경 이미지 위에 위치를 절대적으로 설정 */
 margin-bottom:850px;
 margin-right:240px;
          color: white;
    font-size:24px;
    font-weight:bold;
}

   .card a {           /* 카드 a 값 제거 */
        color: inherit;
        text-decoration: none;

            display: flex;
            flex-direction: column;
            height: 400px; /* 카드 높이 설정 */
    }

        .card-img-top {
            width: 356px;
            height: 200px; /* 이미지 높이 설정 */
            object-fit: cover; /* 이미지 비율 유지 */
        }

        .card-body1 {
            flex: 1;
            padding: 15px;
            background-color: #f9f9f9;
            border-bottom: solid 1px #afb0b3;
            border-radius:15px;
            height:100px;
            max-width: 100%;
    overflow: hidden;
        }

        .product_title {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20px;
            color: #161616;
            font-weight: bold;
            text-decoration: none;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .product_rating {
            font-size: 14px;
            color: black;
        }

        .product_price1{

            font-weight: bold;
            color: black;
            margin-top: 20px;
            align-self: flex-end;
            margin-right:10px;
        }

        .product_date {
            font-size: 12px;
            color: #afb0b3;
            align-self: flex-end;
                      margin-bottom:40px;
                      margin-right:10px;

        }

        .title-card2 {
            display: flex; /* Flexbox 사용 */
            gap: 60px; /* 카드 간격 균등 분배 */
            align-items: stretch; /* 모든 카드의 높이를 동일하게 */
            font-weight: bold;
            font-size: 36px;
            color: black;
            width: 1200px;
            height: 330px;
            margin-left: 100px;
            margin-bottom: 350px;
            text-decoration: none;
            position: absolute;
        }


        .product_img_size1 {
            position: relative;
            width: 360px;
            max-height: 300px;
            border-radius: 15px 15px 0 0; /* 왼쪽 위, 오른쪽 위, 오른쪽 아래, 왼쪽 아래 */
            object-fit: cover;
        }

