
body {

}

/* Header 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05203C;
    padding: 10px 20px 0;
}

.header-body {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* 로고 버튼 */
.logo-button {
    flex: 1;
}

.logo-button img {
    height: 40px; /* 로고 이미지 높이 */
    width: auto;  /* 비율 유지 */
}

/* 메뉴 컨테이너 */
.menu-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
}

.menu button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #17a2b8; /* 버튼 배경색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}

/* 인증 관련 스타일 */
.auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.auth button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth button:hover {
    background-color: #5a6268;
}


