<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 정보</title>
    <link rel="stylesheet" href="/css/indexmore.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/indexmore.js" defer></script>
</head>
<body>


<div th:replace="header :: header"></div>

<header>
    <h1>예약 정보</h1>
</header>

<main>
    <div class="reservation-container">
        <!-- 예약 상세 정보 -->
        <div id="booking-details" class="booking-details">
            <!-- JavaScript에서 예약 정보를 동적으로 삽입합니다. -->
        </div>

        <!-- 돌아가기 버튼 -->
        <a href="#" id="go-back-button" class="book-now-button">돌아가기</a>

        <!-- 예약하기 버튼 -->
        <a href="#" id="proceed-button" class="book-now-button">결제하기</a>
    </div>
</main>

<br> <br><br><br><br><br>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
