<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공권 검색</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>항공편 검색</h1>
<div class="search-container">
    <form class="search-form" id="search-form">
        <div class="search-form-group">
            <label for="departure-city">출발 도시</label>
            <input type="text" id="departure-city" name="departure-city" placeholder="출발 도시" required>
            <div id="departure-city-suggestions" class="suggestions"></div>
        </div>
        <div class="search-form-group">
            <label for="arrival-city">도착 도시</label>
            <input type="text" id="arrival-city" name="arrival-city" placeholder="도착 도시" required>
            <div id="arrival-city-suggestions" class="suggestions"></div>
        </div>
        <div class="search-form-group">
            <label for="departure-date">출발일</label>
            <input type="date" id="departure-date" name="departure-date" required>
        </div>
        <div class="search-form-group">
            <label for="return-date">귀국일</label>
            <input type="date" id="return-date" name="return-date">
        </div>
        <div class="search-form-group">
            <label for="adults">성인 수</label>
            <input type="number" id="adults" name="adults" min="1" value="1" required>
        </div>
        <button type="button" id="search-button" class="search-button">검색</button>
    </form>
</div>

<div class="results-container" id="results-container" style="visibility: hidden;">
    <div class="results-section-container">
        <div class="results-section" id="outbound-flights">
            <!-- 출발 항공편 결과는 여기에 삽입됩니다. -->
            <div id="outbound-pagination" class="pagination">
                <!-- 출발 항공편 페이징 버튼은 여기에 삽입됩니다. -->
            </div>
        </div>
        <div class="results-section" id="inbound-flights">
            <!-- 귀국 항공편 결과는 여기에 삽입됩니다. -->
            <div id="inbound-pagination" class="pagination">
                <!-- 귀국 항공편 페이징 버튼은 여기에 삽입됩니다. -->
            </div>
        </div>
    </div>
</div>

<button id="book-button" class="book-button">예약하기</button>

<script src="/js/index.js"></script>
</body>
</html>
